/*---------------------- RESET ----------------------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*---------------------- COMMON ----------------------*/
body {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial;
    background-color: rgb(187, 60, 71);
}
.titolo {
    color: white;
    margin-bottom: 2 0px;
    font-size: 20px;
}

/*---------------------- container  ----------------------*/
.container {
    margin: auto;
    margin-top: 100px;
    width: 80%;
    /* background-color: rgb(233, 233, 233); */
    /* border-radius: 10px; */
}
 .form, .biglietto {
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    margin-bottom: 100px;
    padding: 50px 0px;
}
