/*---------------------- RESET ----------------------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*---------------------- COMMON ----------------------*/
body {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial;
    background-color: rgb(60, 119, 187);
}
.titolo {
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}

/*---------------------- container  ----------------------*/
.container {
    margin: auto;
    margin-top: 100px;
    width: 60%;
    /* background-color: rgb(233, 233, 233); */
    /* border-radius: 10px; */
}
.form {
    border: 3px solid rgb(255, 255, 255);
    margin-bottom: 100px;
    padding: 20px 0px;
    background-color: rgb(233, 233, 233);
}
 .form, .biglietto {
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.178);
    border-radius: 10px;
}
.biglietto_close {
    display: none;
}
.biglietto_open {
    display: block;
}

/*---------------------- form  ----------------------*/
.info-form {
    /* background-color: rgba(137, 43, 226, 0.315); */
    margin-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
}
.info-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}
.info-form input,select {
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
}
.name, .km, .age {
    /* border: 1px solid red; */
    /* text-align: center; */
}
.button-box {
    /* background-color: aquamarine; */
}
.Button {
    padding: 7px 10px;
    margin: 0px 10px;
    border-radius: 7px;
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 700;
    background-color: darkgrey;
    border: 1px solid darkgrey;
}

.Button:hover {
    background-color: rgb(116, 116, 116);
    border-color:rgb(116, 116, 116);
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

/*---------------------- biglietto  ----------------------*/
.biglietto {
    margin: auto;
    width: 60%;
    background-color: rgb(233, 95, 71);
    padding: 20px 0px;
    color: white;
}
.biglietto h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    text-align: left;
}
.ticket {
    text-align: left;
    padding: 20px 0px;
    background-color: rgb(248, 234, 206);
    color: rgb(70, 70, 70);
    display: flex;
    justify-content: space-around;
    height: 200px;
}
.ticket h4 {
    margin-bottom: 10px;
    font-size: 18px;
}
.ticket p {
    margin-bottom: 30px;
    font-size: 16px;
}